:root {
    --primary-one: dodgerblue;
    --secondary-one: rgb(20, 14, 53);
    --tertiary-one: 100, 100, 255;
}

body {
    background: rgba(var(--tertiary-one), 0.1);
}
body * {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.app {
    width: 600px;
    margin: 70px auto 0;
}

.app img {
    max-width: 100%;
    width: 600px;
    object-fit: cover;
    max-height: 350px;
}

.tours > .tours-header::after {
    content: "";
    width: 70px;
    height: 10px;
    background: var(--primary-one);
    display: block;
    margin: 0 auto;
}

.loading, .tours-header {
    text-align: center;
}

.tours-header {
    font-size: 40px;
    margin-bottom: 50px;
}

.tour {
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
}

.tour-name {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.tour-description {
    padding: 0px 40px 40px;
}

.show-more-btn {
    margin-left: 10px;
    border: 0;
    background: inherit;
    color: var(--primary-one);
}

.show-more-btn:focus {
    outline: none;
    border-bottom: 1px dotted #000;
}

.not-interested {
    display: block;
    margin: 0 auto;
    border: 1px solid red;
    color: red;
    font-size: 1rem;
    border-radius: 4px;
    background: #fff;
    width: 200px;
    height: 40px;
}

.refresh {
    background: var(--primary-one);
    color: #fff;
    display: block;
    margin: 0 auto;
    border: 0;
    font-size: 1rem;
    height: 40px;
    border-radius: 4px;
    width: 150px;
}